<div class="container">
  <div class="modal-header">
    <h4 class="modal-title">Changer de mot de passe :</h4>
  </div>
  <form>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group mb-0">
            <input class="form-control" type="password" required="" [(ngModel)]="oldPassword" autocomplete="password-change" id="oldpassword-change" name="oldpassword-name-change" placeholder="old password">
            <input class="form-control" type="password" required="" [(ngModel)]="newPassword" autocomplete="password2-change" id="newpassword-change" name="newpassword-name-change" placeholder="new password">
            <input class="form-control" type="password" required="" [(ngModel)]="confirmPassword" autocomplete="password2-change" id="confirmpassword-change" name="confirmpassword-name-change" placeholder="confirm password">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input class="btn btn-sm btn-primary" name="button-register" (click)="changePassword()" type="submit" value="Changer">
    </div>
  </form>
  <br>
  <div class="alert alert-danger" *ngIf="errorMessage!==''">{{errorMessage}}</div>
  <div class="alert-success" *ngIf="succesMessage!==''">{{succesMessage}}</div>
</div>
