<div class="container">
  <div class="modal-header">
    <h4 class="modal-title">Veuillez-vous authentifier :</h4>
  </div>
  <form>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group mb-0">
            <input class="form-control" type="text" required="" [(ngModel)]="login" autocomplete="login" id="login" name="login" placeholder="login">
            <input class="form-control" type="password" required="" [(ngModel)]="password" autocomplete="password" id="password" name="password" placeholder="password">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input class="btn btn-sm btn-primary" name="button-connexion" (click)="showCredentials()" type="submit" value="Se connecter">
    </div>
  </form>
  <br>
  <div class="alert alert-danger" *ngIf="errorMessage!==''">{{errorMessage}}</div>
</div>
<app-register></app-register>
