<div class="container-fluid" >
  <div class="row">

    <div class="col-md-4">

      <div class="user-list-card">
        <div class="user-card"

        >
          <!---->

          <img src="../../assets/image/user.png" height="25" width="25"/>
          <p class="username">{{username}}</p>

        </div>
      </div>

    </div>

    <div class="col-md-8">



          <div class="chat-header">
            <p class="username">General Chat</p>
          </div>

          <div class="chat-body">
            <ul #ulMessages id="messages">
            </ul>

          </div>



      <div class="chat-footer">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group mb-0">
              <input type="text" placeholder="Entrez votre message" class="form-control"
                     [(ngModel)]="msg"/>
            </div>
          </div>
          <div class="col-md-2 text-center align-self-center">
            <button class="btn btn-primary btn-bm px-3 " (click)="sendButtonClick()">Envoyer</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
