<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Chat Polytech</a>

  <ul class="navbar-nav ml-auto">
    <!-- Dropdown -->
    <li class="nav-item dropdown" dropdown>
      <a role="button" data-toggle="dropdown" type="button" class="nav-link dropdown-toggle ">Profile</a>
      <div class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" href="#">Change password</a>
<!--        <div class="divider dropdown-divider"></div>-->
        <a class="dropdown-item waves-light" href="#">Log out</a>
      </div>
    </li>
  </ul>
</nav>
