body {
  background-color: #E5E5E5;
}

.container-fluid {
  padding: 50px 200px;
  overflow: hidden;
  background-color: #87CEEB;
}

.user-list-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 100px);
  padding: 10px;

  .user-card {
    display: flex;
    padding: 10px;
    cursor: pointer;

    &.active {
      background-color: #E5E5E5;
    }

    .username {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .user-card:not(:last-child) {
    border-bottom: 1px solid #BBBBBB;
  }
}

.chat-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;


}

.chat-header {
  height: 70px;
  border-radius: 10px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .username {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chat-body {
  background-color: white;
  border-radius: 10px;
  height: calc(89.5vh - 89.5px);
  overflow-y: auto;
}

.chat-footer {
  border-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EDEDED;
  padding: 10px 20px;
}

.modal-footer {
  display: block;
}
